:root {
  // Colors
  --primary-color: coral;
  --active-color: #ff4300;
  --placeholder-color: silver;

  // Transition
  --transition-short: 150ms ease;

  // Padding
  --padding-l: 32px;
  --padding-m: 16px;
  --padding-s: 8px;

  // Text
  --text-white: white;

  // Opacity
  --opacity-l: 75%;
  --opacity-m: 50%;
  --opacity-s: 25%;
}
