.Button {
  padding: var(--padding-s);

  transition: var(--transition-short);

  background-color: var(--primary-color);
  color: var(--text-white);

  border: 1px solid transparent;
  outline: none;

  cursor: pointer;

  &:disabled {
    cursor: default;

    opacity: var(--opacity-m);
  }

  &:active {
    background-color: var(--active-color);
  }
}
